:root {
  --fondoOscuro: #02081e;
  --azulOscuro: #000a2f;
  --amarillo: #ffd400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: #e7edf2;
}

a:link,
a:visited,
a:active {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

ul {
  list-style: none;
}

.nav {
  height: 73px;
  background-color: var(--fondoOscuro);
  align-items: center;
  justify-content: space-between;
}

.nav__img {
  height: 60px;
  margin-left: 50px;
}

.nav__links {
  display: flex;
  margin-right: 50px;
}

.nav__ul-link:hover {
  background-color: var(--amarillo);
  padding: 31px 5px;
  color: var(--fondoOscuro);
}

.nav__ul-link {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 10px;
  color: white;
  transition: background-color 500ms;
  transition: padding 500ms;
}

.nav__ul-menuhamburguesa {
  display: none;
}

.nav__ul-links {
  display: flex;
  font-size: 1.4rem;
}

/* Acá inicia el main de index */

/* Acá inicia la sección uno */

.sectionIndex-uno {
  background-image: url(../assets/banner-home.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  display: grid;
  justify-content: center;
  align-content: center;
}

.sectionIndex-uno__titulo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 6.4rem;
  text-align: center;
  animation-name: animacionTexto;
  animation-duration: 5s;
  margin: 0 50px;
}

@keyframes animacionTexto {
  from {
    opacity: 0;
    font-size: 5.4rem;
  }

  to {
    opacity: 1;
    font-size: 6.4rem;
  }
}

.sectionPortafolio-uno,
.sectionRecorrido-uno,
.sectionServicios-uno {
  width: 100%;
  min-height: 400px;
  background-color: var(--fondoOscuro);
}

.sectionPortafolio-uno h2,
.sectionRecorrido-uno h2,
.sectionServicios-uno h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 8.4rem;
  line-height: 400px;
  text-align: center;
  animation-name: animacionTextoPortafolio;
  animation-duration: 4s;
}

@keyframes animacionTextoPortafolio {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sectionServicios-uno__grid {
  max-width: 1200px;
  display: grid;
  margin: 0 auto;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 30px;
}
.sectionServicios-uno__grid a {
  width: 100%;
  height: 200px;
  border-radius: 50%;
  color: var(--fondoOscuro);
  font-size: 1.6rem;
  background: white;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  text-align: center;
  line-height: 200px;
}

.sectionContacto-uno{
  background-image: url(../assets/banner-home.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 92.2vh;
  display: flex;
  align-items: center;
}
.grid-contacto-uno{
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid-contacto-uno div h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 8.4rem;
}

label{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 2.4rem;
}

input::placeholder {
  font-size: 1.4rem;
}

/* Acá inicia la sección dos */
.sectionIndex-dos {
  padding: 100px 0;
}

.fila {
  justify-content: center;
  align-items: center;
}

.sectionIndex-dos-izquierda div {
  background-color: #bccad3;
  width: 90%;
  margin: 0 auto;
  height: 500px;
  border-radius: 50px;
}

.sectionIndex-dos-izquierda div img{
  width: 100%;
  height: 100%;
  border-radius: 50px;
  object-fit: cover;
}
.sectionIndex-dos-derecha div {
  width: 90%;
  margin: 0 auto;
}

.sectionIndex-dos-derecha h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.6rem;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--azulOscuro);
  padding: 20px 0;
}

.sectionIndex-dos-derecha p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  max-width: 600px;
  margin-bottom: 40px;
}

.sectionPortafolio-dos {
  background-color: var(--fondoOscuro);
  padding: 100px 0;
}
.sectionPortafolio-dos__div div {
  background: var(--amarillo);
  width: 90%;
  height: 300px;
  margin: 20px auto;
  border-radius: 10%;
  transition: background 500ms;
  transition: margin 500ms;
  transition: width 500ms;
}
.sectionPortafolio-dos__div div img{
  width: 100%;
  height: 100%;
  border-radius: 10%;
  object-fit: cover;
}

.sectionPortafolio-dos__div div:hover {
  width: 95%;
  margin: 15px auto;
}

.sectionRecorrido-dos {
  max-width: 1200px;
  height: 500px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.sectionRecorrido-dos__derecha {
  align-self: center;
  margin: 0 30px;
}
.sectionRecorrido-dos__izquierda {
  place-self: center;
}
.sectionRecorrido-dos__izquierda .imagen {
  width: 400px;
  height: 400px;
  background-color: var(--azulOscuro);
}

.sectionRecorrido-dos__derecha h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.6rem;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--azulOscuro);
  padding: 20px 0;
}

.sectionRecorrido-dos__derecha p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  max-width: 600px;
  margin-bottom: 40px;
}

/* Acá inicia la sección tres */
.sectionIndex-tres {
  width: 100%;
  background-color: var(--fondoOscuro);
  display: grid;
  justify-content: center;
  align-items: center;
}

.sectionIndex-tres__div {
  max-width: 900px;
  display: grid;
  place-items: center;
  margin: 100px 30px;
}

.sectionIndex-tres__div p {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.6rem;
  color: white;
  margin: 0 10px;
}

.sectionIndex-tres__div h2 {
  font-family: "Montserrat", sans-serif;
  margin: 10px 0 30px 0;
  color: white;
  font-size: 4.6rem;
  text-align: center;
}

.sectionIndex-tres__div button {
  border: none;
  padding: 10px 30px;
  background-color: var(--amarillo);
  border-radius: 50px;
  margin: 0 10px;
  font-size: 1.6rem;
}

.sectionIndex-tres__div button a {
  color: var(--azulOscuro);
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>> Acá inicia la sección cuatro <<<<<<<<<<<<<<<<<*/

.section-cuatro {
  height: 400px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.section-cuatro a {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  color: white;
  font-size: 1.6rem;
  background-color: var(--azulOscuro);
  display: grid;
  align-items: center;
  justify-content: center;
}

/* acá inicia el footer */
.footer {
  background-color: var(--fondoOscuro);
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.nav__linksInf {
  justify-self: end;
  margin-right: 50px;
}

.nav__ul-linkInf {
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  transition: background-color 500ms;
  transition: padding 500ms;
  font-size: 1.4rem;
}

/* Estilos tablet */

@media screen and (max-width: 768px) {
  .nav__ul-link {
    display: none;
  }

  .nav__ul-menuhamburguesa {
    display: block;
    color: white;
    font-size: 20px;
  }

  .sectionIndex-uno__titulo {
    color: white;
    font-size: 4.4rem;
    text-align: center;
    animation-name: animacionTexto;
    animation-duration: 5s;
    margin: 0 50px;
  }

  @keyframes animacionTexto {
    from {
      opacity: 0;
      font-size: 3.4rem;
    }

    to {
      opacity: 1;
      font-size: 4.4rem;
    }
  }
  .sectionRecorrido-dos {
    grid-template-columns: 1fr;
  }
  .grid-contacto-uno{
    grid-template-columns: 1fr;
  }
  .grid-contacto-uno div h2 {

    font-size: 4.4rem;
  }
}

@media screen and (max-width: 425px) {
  .sectionIndex-uno__titulo {
    font-size: 3.4rem;
  }

  @keyframes animacionTexto {
    from {
      font-size: 2.4rem;
    }

    to {
      font-size: 3.4rem;
    }
  }

  .sectionIndex-tres__div button {
    font-size: 1rem;
    margin: 0 2px;
  }

  .sectionIndex-tres__div h2 {
    font-size: 3.6rem;
  }
  .sectionRecorrido-dos__izquierda .imagen {
    width: 300px;
    height: 300px;
  }
  .sectionRecorrido-uno h2 {
    font-size: 3.4rem;
  }
  .sectionServicios-uno h2 {
    font-size: 3.4rem;
  }
  .sectionServicios-uno__grid {
    grid-template-columns: 1fr;
  }
}
